/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
html{
  scroll-behavior: smooth;
}
body{

    
    background-attachment: fixed;
    background-image: linear-gradient(to right bottom, #deb887, #d0a46e, #c29156, #b47e3f, #a66b27, #975e1c, #895110, #7a4503, #683b05, #573205, #472803, #371f00);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}
section{

    background: rgba(176, 82, 0, 0);
    margin-top: 100px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h3{
  z-index: 1;
  background: rgba(114, 114, 114, 0.361);
  position: absolute;
  margin: auto;
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#divInf{

    text-align: center;
    height: auto;
    background: rgba(255, 192, 203, 0);
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30pt;
    font-weight: 300;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
}
#subtitleColor{

  color: #ffc56d;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22pt;
    text-wrap: wrap;
    color: grey;
}
#mainText{

  background: rgba(165, 42, 42, 0);
  width: 80%;
  text-align: center;
  margin: auto;
  color: whitesmoke;
}

#divinfCourses{

  background: rgba(165, 42, 42, 0);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
#courseStart{

  background: rgba(149, 255, 0, 0);
  width: 400px;
  height: auto;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 15px;
}
.linkAccess{

  background: #3f7652;
  color: whitesmoke;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 100px;
  margin: auto;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14pt;
  border-radius: 25px;
}
h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: whitesmoke;
  font-size: 22pt;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.9px);
  -webkit-backdrop-filter: blur(12.9px);
  border: 1px solid rgba(255, 255, 255, 0.3); 
}
@media (max-width:600px){

  #mainText{

    margin-left: 30px;
    margin-right: 30px;
  }
  #courseStart{

    width: 300px;
    height: auto;
  }
 
  .imgSlide2, .imgSlide3{

    display: none;
  }
  footer{

    height: 300px;
    margin-top: 0px;
  }
  #divInf{

    height: auto;
  }
  #divinfCourses{

    height: 1050px;
  }
}
@media (max-width:1200px){
  .imgSlide2, .imgSlide3{

    display: none;
  }
  #contentInfServices{

    flex-direction: column;
  }

}