header{

    background: #111111;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    margin-top: -1px;
    /*44*/
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    /* margin-top: -101px; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
/* background: rgba(17, 17, 17, 0.58);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px); */
}
#group1{

    background: rgba(132, 6, 6, 0);
    display: flex;
    flex-direction: column;
    margin: auto;
}
#group2{

        background: rgba(0, 128, 0, 0);
        width: 200px;
        height: 400px;
        display: none;
        flex-direction: column;
        align-items: end;
        margin-left:auto;
}
nav{

    background: rgba(74, 74, 74, 0);
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#nav2{

    /* background: rgba(255, 255, 255, 0.68);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); */

    background: #111111;
    flex-direction: column;
    width: 110px;
    height: 200px;
    border-radius: 0px 0px 15px 15px;
    transition: .4s;
    margin-top: 0px;
    margin-left: 400px;
}
#nav2.active{

    transition: .4s;
    margin-left: 75px;
}
#modalCourses{

    background: burlywood;
    margin-left: -145px;
    margin-top: 100px;
    display: none;
    flex-direction: column;
    width: 200px;
    height: auto;
    position: fixed;
    gap: 5px;
    padding: 10px;
    border-radius: 15px 0px 0px 15px;
}
#modalCourses.activeModal{

    display: flex;
}
#divmodalCourses{

    background: rgba(165, 42, 42, 0);
    width: auto;
    height: 300px;
    z-index: 20;
    display: flex;
    flex-direction: row;
    margin: auto;
}
#openMenu{

   border-radius: 15px;
   margin-top: 20px;
   margin-right: 30px;
   /* position: relative;*/
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 26pt;
    transition: .4s;
    width: 50px;
    height: 50px;
    background:none;
    border: 3px solid burlywood;
    color:burlywood;
    display: flex;
    justify-content: center;
    align-items: last baseline;
}
#logoRight{

    width: 100px;
    background: rgba(0, 128, 0, 0);
    /* margin-left: 150px; */
    transition: .3s;
    z-index: 1;
}
#divLogo{

    position: fixed;
    background: rgba(255, 192, 203, 0);
    height: 200px;
    width: 150px;
}
#h1Name{

    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 22pt;
    transition: .3s;
    color: whitesmoke;
    margin-top: -5px;
}
#linkNav{

    color: whitesmoke;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    font-weight: 500;
    transition: .3s;
    margin-top: 10px;
}
#linkNav:hover{

    color: burlywood;
}
#linkNav2{

    color:burlywood;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    font-weight: 500;
    transition: .3s;
}
#linkNav2:hover{

    color: burlywood;
}
#linkNav3{

    color:#111111;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    font-weight: 500;
    transition: .3s;
    text-decoration: underline;
    text-underline-offset: 5px;
}
#linkNav3:hover{

    color: #111111;
}

@media (max-width: 600px){

    #h1Name{

        display: none;
    }
    #group1{

        display: none;
    }
    #group2{
        display: flex;
        /* margin-left: 270px; */
    }
    #divLogo{

        /* margin-left: 50px; */
    }
    

}
@media (max-width: 1260px){

    #h1Name{
        font-size: 22pt;
    }
    #logoRight{

        /* position: fixed; */
        margin-left: 0px;
    }
}
/* ================================= */


