header{

    background: #111111;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 10;
    /* margin-top: -101px; */

/* background: rgba(17, 17, 17, 0.58);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px); */
}
#group1{

    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    margin: auto;
}
#group2{

        background: rgba(0, 128, 0, 0);
        width: 200px;
        height: auto;
        display: none;
        flex-direction: column;
        margin: auto;
}
nav{

    background: rgba(74, 74, 74, 0);
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#nav2{

    /* background: rgba(255, 255, 255, 0.68);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); */

    background: #111111;
    flex-direction: column;
    width: 110px;
    height: auto;
    border-radius: 0px 0px 0px 15px;
    transition: .4s;
    margin-left: 400px;
    margin-top: 100px;
}
#nav2.active{

    transition: .4s;
    margin-left: 14px;
}
#openMenu{

  
   margin: auto;
   border-radius: 15px;
   margin-top: 20px;
   position: fixed;
   margin-left: 55px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 26pt;
    display: flex;
    justify-content: center;
    transition: .4s;
    width: 50px;
    height: 50px;
    text-align: center;
    background:none;
    border: 2px solid burlywood;
    color:burlywood;
}
#openMenu:hover{

    /* background: rgb(105, 105, 105); */
    color: burlywood;
}
#logoRight{

    width: 100px;
    background: rgba(0, 128, 0, 0);
    margin-left: 150px;
    transition: .3s;
    z-index: 1;
}
#divLogo{

    position: absolute;
}
#h1Name{

    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 22pt;
    transition: .3s;
    color: whitesmoke;
    margin-top: -5px;
}
#linkNav{

    color: whitesmoke;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    font-weight: 500;
    transition: .3s;
    margin-top: 10px;
}
#linkNav:hover{

    color: burlywood;
}
#linkNav2{

    color:burlywood;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    font-weight: 500;
    transition: .3s;
}
#linkNav2:hover{

    color: pink;
}

@media (max-width: 600px){

    #h1Name{

        display: none;
    }
    #group1{

        display: none;
    }
    #group2{
        display: flex;
        margin-left: 270px;
    }
    #divLogo{

        margin-left: 50px;
    }

}
@media (max-width: 1260px){

    #h1Name{
        font-size: 22pt;
    }
    #logoRight{

        position: relative;
        margin-left: 0px;
    }
}
/* ================================= */


